<html>
    <head>
        <title>ECE 140A Lab 4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="web_ui.css">
        <script src="web_ui.js"></script>
    </head>
    <body>
        <h1>Tello Controller</h1>

        <!-- Add your HTML below -->
        
        <!-- You should copy your controller from Lab 4 Here (you can rebuild it if you so choose) -->
        
        <!-- Build your new elements (live/plan mode button, textbox, logging view, etc...) -->

    </body>
</html>
